<div class="ask-for-leave-title">
  <span class="first-icon"><i class="iconfont icon-xiayiji "></i></span>
  {{#if show}}
   <span>出差申请</span>
   {{else}}
      {{#if showdate}}
       <span>报销申请</span>
       {{else}}
       <span>请假申请</span>
       {{/if}}
  {{/if}}
 
</div>
<div class="container container-control">
    <br>
        <form class="form-horizontal" role="form" id="form-test">
             {{#if showdate}}
            <div class="form-group form-group-common ">
                {{!-- {{#if show}}
                <label for="username" class="col-sm-1 control-label control-labels">申请人:</label>
                {{else}} --}}
                   
                    <label for="username" class="col-sm-1 control-label control-labels">报销金额:</label>
                    {{!-- {{else}}
                    <label for="username" class="col-sm-1 control-label control-labels">请假人:</label>
                    {{!-- {{/if}} --}}
                    <div class="col-md-12">
                        <input type="text" class="form-control form-people" id="username" name="username" placeholder="请输入...">
                    </div>
            </div>
              {{/if}}
            {{#unless showdate}}
            <div class="form-group form-group-common">
                 <span style="color:red" class="require-content">*</span>
                 <label for="newplan_datetimepicker1" class="col-sm-1 control-label control-labels">开始日期:</label>
                 <div class="input-append date" id="newplan_datetimepicker1" data-date="" data-date-format="yyyy-mm-dd">  
                            <input class="new_task_date create_taskdate form-people new-leave-date start_times" size="16" type="text" value="" readonly placeholder="请选择日期...">  
                            <span class="add-on select_date_icon select-icons">
                                <i data-date-icon="icon-calendar" class="icon-calendar iconfont icon-riqi icon-riqis"></i>
                            </span>  
                  </div> 
            </div>
            <div class="form-group  form-group-common">
                <span style="color:red" class="require-content">*</span>
                <label for="newplan_datetimepicker2" class="col-sm-1 control-label control-labels">结束日期:</label>
                  <div class="input-append date" id="newplan_datetimepicker2" data-date="" data-date-format="yyyy-mm-dd">  
                            <input class="new_task_date create_taskdate form-people new-leave-date end_times" size="16" type="text" value="" readonly placeholder="请选择日期...">  
                            <span class="add-on select_date_icon select-icons">
                                <i data-date-icon="icon-calendar" class="icon-calendar iconfont icon-riqi icon-riqis"></i>
                            </span>  
                  </div> 
            </div>
            {{/unless}}
            <div class="form-group form-group-common">
                <span style="color:red" class="require-content">*</span>
                {{#if show}}
                <label for="email" class="col-sm-1 control-label control-labels">出差天数:</label>
                {{else}}
                     {{#if showdate}}
                     <label for="email" class="col-sm-1 control-label control-labels">报销类别:</label>
                     {{else}}
                     <label for="email" class="col-sm-1 control-label control-labels">请假天数:</label>
                     {{/if}}
                {{/if}}
                
                <div class="col-sm-10">
                    <input type="text" class="form-control form-people" id="email" name="email" placeholder="请输入...">
                </div>
            </div>
             <div class="form-group form-group-common">
                 <span style="color:red" class="require-content">*</span>
                 {{#if show}}
                <label for="text" class="col-sm-1 control-label control-labels ">出差事由:</label>
                {{else}}
                    {{#if showdate}}
                    <label for="text" class="col-sm-1 control-label control-labels ">费用明细:</label>
                    {{else}}
                    <label for="text" class="col-sm-1 control-label control-labels ">请假事由:</label>
                    {{/if}}
                {{/if}}
               
                <div class="col-sm-10">
                    <textarea type="text" class="form-control  form-people  form-reason " id="text"  placeholder="请输入请假事由…"></textarea>
                </div>
            </div> 
           <div class="form-group form-group-common form-group-img">
               <div class="control-labels control-img">添加图片:</div>
               <div class="img-border">
                   <i class="iconfont icon-tianjia3 add-img-people"></i>
               </div>
           </div>
           <div class="form-group form-group-common">
               <span style="color:red" class="require-content">*</span>
                <div class="control-labels control-img check-people">审批人:</div>
                <ul class="generate_log_member_box shenpi-person ">
                    <li class="add_log_people">
                        <div class="generate_log_member_addlogos">
                           <i class="iconfont icon-tianjia3 add-img-people icon-position"></i>
                        </div>
                        <p class="generate_log_member_adds">选择成员</p>
                    </li>
                </ul>
           </div>
            <div class="form-group form-group-common">
                <div class="control-labels control-img check-people">抄送人:</div>
                <ul class="generate_log_member_box shenpi-person send-check-people">
                    <li class="add_log_peoples">
                        <div class="generate_log_member_addlogos">
                           <i class="iconfont icon-tianjia3 add-img-people icon-position"></i>
                        </div>
                        <p class="generate_log_member_adds">选择成员</p>
                    </li>
                </ul>
           </div>
            <div class="form-group form-group-common">
                <div class="col-sm-offset-4 col-sm-10 ">
                    <button type="submit" class="btn btn-primary btn-submit" id="btn-test">提交</button>
                </div>
            </div>
        </form>
</div>




