 <div class="attendance_middle fix">
                <div class="attendance_statistical fix">
                    <p class="attendance_statistical_title">日统计</p>
                    <p class="attendance_statistical_num"><span>{{actual_arrival_count}}/</span><span>{{should_arrival_count}}人</span></p>
                </div>
                <i></i>
                <div class="attendance_statistical_detail">
                    {{#each late}}
                        {{#if late}}
                            <p><span>迟到{{cut_list late}}人:</span><span>{{this}}</span></p>
                        {{/if}}
                        {{else}}
                            <p><span>迟到0人:</span><span></span></p>
                    {{/each}}
                    {{#each missing_card}}
                        {{#if missing_card}}
                            <p><span>缺卡{{cut_list missing_card}}人:</span><span>{{this}}</span></p>
                        {{/if}}
                        {{else}}
                            <p><span>缺卡0人:</span><span></span></p>
                    {{/each}}
                    <p><span>外勤20人:</span><span>二狗子</span></p>
                    <p><span>请假0人:</span><span>二狗子</span></p>
                </div>
            </div>
            <div class="attendance_bottom">
                <div class="attendance_bottom_head fix">
                    <p class="attendance_bottom_title">考勤组全部成员</p>
                    <div class="attendance_bottom_search">
                        <input type="text" class="attendance_bottom_search_person" placeholder="搜索成员">
                        <i class="iconfont icon-sousuo attendance_bottom_search_icon"></i>
                    </div>
                </div>
                <ul class="attendance_bottom_ctn">
                    {{#each attendances_member_list}}
                        <li class="attendance_bottom_person fix">
                            <div class="attendance_bottom_img_box">
                                <img src="{{user_avater}}" alt="" class="attendance_bottom_img">
                            </div>
                            <p class="attendance_bottom_name">{{user_name}}</p>
                            <div class="attendance_bottom_calendar_box">
                                <span class="attendance_bottom_calendar" user_id="{{user_id}}">查看考勤日历</span>
                                <i class="iconfont icon-xiangyou attendance_bottom_calendar_icon"></i>
                            </div>
                        </li>
                    {{/each}}
                </ul>
            </div>