{{!-- {{#if}} --}}
    <div class="new_attendance_title">
        <button class="new_attendance">新增考勤组</button>
    </div>
 {{!-- {{else}}
    <div class="new_attendance_title">
        <p>新增考勤组</p>
        <button class="new_attendance">返回</button>
    </div>
 {{/if}} --}}
<ul class="attendance_ul_team">
   {{#each data_list}}
    <li class="attendance_team">
        <h1>{{attendances_name}}</h1>
        <i class="team-line"></i>
        <div>
            <ul>
                <li>参与部门(频道)：<span>技术组、产品组</span></li>
                <li>考勤时间：<span>{{attendance_time_list}}  {{jobs_time}}-{{rest_time}}</span</li>
                <li>考勤地点：<span>{{attendances_location}}</span></li>
            </ul>
        </div>
        <div class="attendance_team_bottom" >
            <button data_id={{attendances_id}} class="button-fix">修改</button>
            <button data_id={{attendances_id}} class="button-delete">删除</button>
        </div>
    </li>
    {{/each}}
</ul>
