<div class="ask-for-leave-title">
  <span class="first-icon" data-class="{{dataClass}}">
      <i class="iconfont icon-xiayiji "></i>
      </span>
   <span>{{head_name}}</span>
</div>
<div class="check-detail-flex">
    <div class="common-flex top_header_flex">
        <img src={{head_avatar}}  class="avatar-imgs-shenpi"/>
        <div class="application_people">
            <p>{{head_name}}</p>
            {{#compare head_status '==' "审批中"}}
               <p style="color:#FFA200">{{head_status}}</p>
               {{else}}
                 {{#compare head_status '==' "审批通过"}}
                    <p style="color:#39D1A9">{{head_status}}</p>
                    {{else}}
                      {{#compare head_status '==' "审批未通过"}}
                        <p style="color:#F74144">{{head_status}}</p>
                       {{else}}
                        <p>{{head_status}}</p>
                        {{/compare}}
                    {{/compare}}
            {{/compare}}
        </div>
    </div>
    <hr class="line-height-hr"/>
    <div>
        <div class="common-flex check-detail-total">
               <p>
                <span>审批类型:</span>
                <span>{{types approval_type}}</span>
                </p>
                {{#unless amount}}
                    <p>
                    <span>开始时间:</span>
                    <span>{{start_time}}</span>
                    </p>
                    <p>
                    <span>结束日期:</span>
                    <span>{{end_time}}</span>
                    </p>
                    {{else}}
                    <p>
                    <span>报销类别:</span>
                    <span>{{category}}</span>
                    </p>
                    <p>
                    <span>报销金额:</span>
                    <span>{{amount}}</span>
                    </p>
                 {{/unless}}
        </div>
        <div class="common-flex check-detail-total">
              {{#unless amount}}
                <p>
                    <span>请假天数:</span>
                    <span class="total-day">{{count}}天</span>
                </p>
                <p>
                    <span>请假事由:</span>
                    <span>{{cause}}</span>
                </p>
                {{else}}
                   {{#if detail}}
                  <p>
                    <span>费用明细:</span>
                    <span>{{count}}天</span>
                 </p>
                  {{/if}}
             {{/unless}}
        </div>
    </div>
    {{#if image_url}}
        <div>
           <span>添加图片:</span>
           {{!-- <img src={{img_url}} class="img-border" /> --}}
           {{#each  image_url}}
                <img src={{this}} class="img-border"/>
           {{/each}}
        </div>
    {{/if}}
     <hr class="line-height-hr"/>
    <div>
        <p>抄送人</p>
       <ul class="common-flex  common-margin">
         {{#each inform_list}}
           <li class="chaosong-people">
               <img src ={{user_avatar}} class="avatar-imgs-shenpi-detail">
               <p>{{user_name}}</p>
           </li>
         {{/each}}
       </ul>
    </div>
    <div>
        {{#each approver_list}}
        <div class="common-flex">
            <div class="common-flex-links">
                {{#compare status '==' '发起申请' }}
                <i class="iconfont icon-shenpitongguo icon-back-color {{#compare status '==' '已撤销' }}icon-back-color-over{{/compare}}"></i>
                  {{else}}
                    {{#compare status '==' '审批中' }}
                    <i class="iconfont icon-shenpidengdai icon-back-colors"></i>
                        {{else}}
                         {{#compare status '==' '审批未通过'}}
                         <i class="iconfont icon-guanbi1 icon-backs-colors"></i>
                          {{else}}
                         <i class="iconfont icon-shenpitongguo icon-back-color {{#compare status '==' '已撤销' }}icon-back-color-over{{/compare}}"></i>
                         {{/compare}}
                    {{/compare}}
                {{/compare}}
                <i class="connect-line"/>
            </div>
            <div class="common-flex common-flex-border">
                <div class="arrow"/>
                <div class="common-flex">
                    <img src={{user_avatar}} class="avatar-imgs-shenpi"/>
                    <div class="application_people">
                        <p>{{sliceName user_name}}</p>
                            {{#compare status '==' "审批中"}}
                                <p style="color:#FFA200">{{status}}</p>
                                {{else}}
                                 {{#compare status '==' "审批通过"}}
                                 <p style="color:#39D1A9">{{status}}</p>
                                    {{else}}
                                      {{#compare status '==' "审批未通过"}}
                                       <p style="color:#F74144">{{status}}</p>
                                       {{else}}
                                      <p>{{status}}</p>
                                         {{/compare}}
                                 {{/compare}}
                            {{/compare}}
                    </div>
                </div>
                <div>{{substrYear times}}</div>
            </div>
        </div>
        {{/each}}
    </div>
    {{#if shown}}
    <div class="feed_back-content">
        <span>反馈:</span>
        <ul>
            {{#each feedback_list}}
            <li class="common-flex feedback-content-back">
                 <div class="common-flex">
                    <img src={{user_avatar}} class="avatar-imgs-shenpi"/>
                    <div class="application_people feed-back-people">
                        <p>{{user_name}}</p>
                        <p>{{content}}</p>
                    </div>
                 </div>
                 <div class="show-content-color">{{substrYear times}}</div>
            </li>
            {{/each}}
        </ul>
    </div>
    {{/if}}
    <div class="common-flex button-show">
        {{#compare  button_status '==' 1}}
            <button class="button-detail-common reminder">催办</button>
            <button class="button-detail-common revoke">撤销</button>
        {{/compare}}
         {{#compare  button_status '==' 2}}
            <button class="button-detail-common  no_agree">不同意</button>
            <button class="button-detail-common agree">同意</button>
        {{/compare}}
        {{#compare  button_status '==' 3}}
            <button class="button-detail-common feedBack">反馈</button>
        {{/compare}}
        {{#compare  button_status '==' 4}}
            <button class="button-detail-common reminder">已撤销</button>
        {{/compare}}
        {{!-- {{#compare  button_status '==' 5}}
            <button class="button-detail-common reminder">再次提交</button> 
        {{/compare}} --}}
    </div>
</div>