<div class="ask-for-leave-title">
  <span class="first-icon"><i class="iconfont icon-xiayiji "></i></span>
   <span>{{head_name}}</span>
</div>
<div class="check-detail-flex">
    <div class="common-flex top_header_flex">
        <img src={{head_avatar}}  class="avatar-imgs-shenpi"/>
        <div class="application_people">
            <p>{{head_name}}</p>
            <p>{{head_status}}</p>
        </div>
    </div>
    <hr class="line-height-hr"/>
    <div>
        <div class="common-flex check-detail-total">
               <p>
                <span>审批类型:</span>
                <span>{{types approval_type}}</span>
                </p>
                <p>
                <span>开始时间:</span>
                <span>{{start_time}}</span>
                </p>
                <p>
                <span>结束日期:</span>
                <span>{{end_time}}</span>
            </p>
        </div>
        <div class="common-flex check-detail-total">
                <p>
                    <span>请假天数:</span>
                    <span>{{count}}天</span>
                </p>
                <p>
                    <span>请假事由:</span>
                    <span>{{cause}}</span>
                </p>
        </div>
    </div>
     <hr class="line-height-hr"/>
    <div>
        <p>抄送人</p>
    </div>
    <div>
        {{#each approver_list}}
        <div class="common-flex">
            <div class="common-flex">
                <img src={{user_avatar}} class="avatar-imgs-shenpi"/>
                <div>
                    <span>{{sliceName user_name}}</span>
                    <span>{{status}}</span>
                </div>
            </div>
            <div>{{substrYear times}}</div>
        </div>
        {{/each}}
    </div>
</div>