<div class="setting_body" data-stream-id={{color/stream_id}}>
    <h1>群组设置</h1>
    <div class="color-setting-total">
        <span class="color-setting " style="background-color:{{color/color}}">{{titlef}}</span>
        <span>{{name}}</span>
    </div>
    <div class="choose-color-setting">
        <span>群组颜色:</span>
        <span class="sub_setting_control sub_setting_color">
             <input stream_id="{{color/stream_id}}" class="colorpicker" id="streamcolor" type="text" value="{{color/color}}" tabindex="-1" />
            {{!-- <input stream_id="1" class="colorpicker" id="streamcolor" type="text" value="#76ce90" tabindex="-1" style="display: none;" /> --}}
        </span>
    </div>
    <div class="group-people-search">
        <span>群组成员({{color/subscriber_count}})</span>
        <div class="search-people-border">
            <input type="text" placeholder="输入搜索内容" />
            <span class="icon-search-cancel">取消</span>
        </div>
        <div class="add-people-search">
             {{!-- <div class="add_subscribers_container" {{#if invite_only}}{{#unless subscribed}}style="display: none"{{/unless}}{{/if}}> --}}
            <input type="text" name="principal" placeholder="输入电话号码" value="" class="input-block search-people" autocomplete="off" tabindex="-1" />
            <button type="submit" name="add_subscriber" class="button add-subscriber-button small rounded" tabindex="-1" style="background-color:#fff">
                {{t 'Add' }}
            </button>
            <span class="icon-search-cancel">取消</span>
            {{!-- </div> --}}
        </div>
        <div class="seach-people-icon">
            <i class="iconfont icon-sousuo1 icon-common icon-search-email"></i>
            <i class="iconfont icon-tianjia3 icon-common icon-add-people"></i>
        </div>
    </div>
    <ul class="list-avatar">
        {{#each avatar}}
         <li class="choose-group-people">
             <img src={{avatarUrl}} />
             {{!-- <span>{{this}}</span> --}}
             <div>{{short_names name}}</div>
         </li>
        {{/each}}
        {{#if show}}
        <li class="more-detail">查看更多</li>
        {{/if}}
    </ul>
    <div>
        <div>群组话题({{topiclength}})</div>
        <ul class="names-item">
            {{#each names }}
           <li class="topiclist-group" data-name ="{{this}}">
               <span>{{this}}</span>
               <span class="shan-chu">删除</span>
           </li>
            {{/each}}
        </ul>
         {{#if showTopic}}
        <div class="more-topic">查看更多</div>
        {{/if}}
    </div>
    <ul class="chat-setting">
        <li class="up-chat chat-common">
            <span>置顶聊天</span>
            <div id="div1" class="close1">
                <div id="div2" class="close2"></div>
            </div>
        </li>
        <li class="chat-common new-message-setting">
            <span>新消息通知</span>
            <div id="div1" class="close1">
                <div id="div2" class="close2"></div>
            </div>
        </li>
    </ul>
    {{#if stream_permissions}}
     <button class="back-tuiding-release">解散群组</button>
    {{else}}
     <button class="back-tuiding">退订群组</button>
    {{/if}}
</div>