

   
    {{!-- <div class="generate_log_head">
        <p>e建联</p>
        <i></i>
        <p>一键生成日志</p>
        <a class="generate_log_close">
           <i class="iconfont icon-guanbiUI"></i>
        </a>
    </div> --}}
    <div class="generate_log_ctn">
        <div class="generate_log_finished">
            已完成:
        </div>
        <textarea class="generate_log_finished_text">{{#each accomplish_list}}{{addKey @index}}:{{this}}
        {{/each}}
        </textarea>
        <div class="generate_log_unfinished">
             未完成:
        </div>
        <textarea class="generate_log_unfinished_text">{{#each overdue_list}}{{addKey @index}}:{{this}}
        {{/each}}
        </textarea>
        <div class="generate_log_pdfinished">
             进行中:
        </div>
        <textarea class="generate_log_pdfinished_text">{{#each underway_list}}{{addKey @index}}:{{this}}
        {{/each}}
        </textarea>
        <div class="generate_log_plan">
                计划（添加任务后，自动生成待办事项）:
        </div>
        <ul class="generate_log_plan_box">
            {{!-- <li class="generate_log_plan_ctn">
                <input type="checkbox">
                <p class="text-inline">整理上月的员工考勤，汇总整体出勤状态成表格</p>
                <p><span>截止日期&nbsp;&nbsp;</span><span class="date-inline">2018-05-30</span></p>
                <p>
                    <span class="generate_log_plan_editor">编辑</span>
                    <span class="generate_log_plan_delete">删除</span>
                </p>
            </li> --}}
        </ul>
        <div class="new-plan-box">
            <div class="new_add_task_plan">新增任务</div>
            <form action="" class="new_plan">
                    <input type="text" class="new_plan_title" placeholder="请输入任务标题">
                    <!-- <input type="text" class="new_plan_date" placeholder="请选择日期"> -->
                    <div class="input-append date" id="newplan_datetimepicker" data-date="" data-date-format="yyyy-mm-dd">  
                            <input class="new_task_date create_taskdate" size="16" type="text" value="" readonly placeholder="请选择日期...">  
                            <span class="add-on select_date_icon">
                                <i data-date-icon="icon-calendar" class="icon-calendar iconfont icon-riqi"></i>
                            </span>  
                    </div>
                    <div class="new_plan_save">保存</div>
                    <div class="new_plan_cancel">取消</div>
            </form>
        </div>
        <i class="generate_log_plan_lineA"></i>
        <div class="generate_log_addattachment">
                添加附件:
        </div>
        <div class="generate_log_upfile_box">
            <div class="generate_log_upfile" id="up_files">
                     <a id="attach_file">上传附件</a>
                <input type="file" id="file_inputs" class="test-image-file"/>
            </div>
            <div class='progress active process-bar-parent'>\
                <div class='bar' id= 'process-bar' style='width:0'></div>\
            </div>
        </div>
        <div class="generate_log_send">
            发送到:
        </div>
        <ul class="generate_log_member_box">
            
            <li class="add_log_people">
                <div class="generate_log_member_addlogo">
                    <img src="../../static/img/add.png" alt="">
                </div>
                <p class="generate_log_member_add">选择成员</p>
            </li>
        </ul>
        <div class="generate_log_submit">
            提交
        </div>
        <div class="toast-alert">
             提交成功
        </div>
    </div>
    


