<a href="/#narrow/is/starred">
    <li class="notice_ctn log_assistant_btn" send_id="{{send_id}}">
        <div class="notice_left fix">
            {{!-- <img src="{{avatar}}" alt="" class="notice_img"> --}}
            <i class="iconfont icon-rizhizhushou1 log_assistant_img"></i>
        </div>
        <div class="notice_right fix">
            <div class="notice_top fix">
                <p class="notice_top_name" style="line-height:54px">日志助手</p>
                <p class="notice_top_time" name="{{send_id}}"></p>
            </div>
            <div class="notice_bottom" name="{{send_id}}">
                {{mes}}
            </div>
        </div>
    </li>
</a>