{{#each send_table_list}}
    <div class="log_assistant_ctn">
        <div class="log_assistant_user_box">
            <div class="log_assistant_user_avater">
                <img src="{{avatarurl}}" alt="">
            </div>
            <div class="log_assistant_user_time">
                <p class="log_assistant_user_name">{{fullname}}的{{tp type}}</p>
                <p class="log_assistant_user_date">
                    <span>{{ts generate_time}}&nbsp;</span>
                    {{!-- <span>18:22</span> --}}
                </p>
            </div>
        </div>
        <i class="log_assistant_lineA"></i>
            <div class="log_assistant_finished">
                已完成:
            </div>
        {{#if accomplish}}
            <div class="log_assistant_finishedctn">
                        {{tl accomplish}}
            </div>
            {{else}}
            <div class="log_assistant_finishedctn">
                        无
            </div>
        {{/if}}
        
            <div class="log_assistant_unfinished">
                未完成:
            </div>
        {{#if overdue}}
            <div class="log_assistant_unfinishedctn">
                    {{tl overdue}}
            </div>
            {{else}}
            <div class="log_assistant_unfinishedctn">
                    无
            </div>
        {{/if}}
        
            <div class="log_assistant_ongoing">
                进行中:
            </div>
        {{#if underway}}
            <div class="log_assistant_ongoingctn">
                    {{tl underway}}
            </div>
            {{else}}
            <div class="log_assistant_ongoingctn">
                    无
            </div>
        {{/if}}
        
            <div class="log_assistant_plan">
                计划:
            </div>
        {{#if backlog_list}}
        {{#each backlog_list}}
            <div class="log_assistant_planctn">
                <i class="log_assistant_plan_line"></i>
                <p class="log_assistant_planctn_title">{{task}}</p>
                <p class="log_assistant_planctn_date">
                    <span>截止</span>
                    <span>{{tt over_time}}</span>
                </p>
            </div>
        {{/each}}
        {{else}}
            <div class="log_assistant_planctn log_assistant_planctn2">
                无
            </div>
        {{/if}}
        <div class="log_assistant_pack">
                <div class="generate_log_pack">
                        {{#each url_list}}
                            {{#compare type '==' 'jpg'}}
                                <a href="{{url}}" download=""><img src="{{url}}" alt="" class="thumbnail"></a>
                                {{else}}
                            {{/compare}}
                            {{#compare type '==' 'png'}}
                                <a href="{{url}}" download=""><img src="{{url}}" alt="" class="thumbnail"></a>
                                {{else}}
                            {{/compare}}
                            {{#compare type '==' 'jpeg'}}
                                <a href="{{url}}" download=""><img src="{{url}}" alt="" class="thumbnail"></a>
                                {{else}}
                            {{/compare}}
                            {{#compare type '==' 'gif'}}
                                <a href="{{url}}" download=""><img src="{{url}}" alt="" class="thumbnail"></a>
                                {{else}}
                            {{/compare}}
                            {{#compare type '==' 'bmp'}}
                                <a href="{{url}}" download=""><img src="{{url}}" alt="" class="thumbnail"></a>
                                {{else}}
                            {{/compare}}
                            {{#compare type '==' 'docx'}}
                                <div class="generate_log_pack_left">
                                    <img src="../../static/icons/type_icon/moren.png" alt="">
                                </div>
                                <div class="generate_log_pack_right">
                                    <p>{{name}}</p>
                                    <p>{{size}}<a href="{{url}}" download="{{url}}" class="download_fujian">下载</a></p>
                                </div>
                                {{else}}
                            {{/compare}}
                            {{#compare type '==' 'txt'}}
                                <div class="generate_log_pack_left">
                                    <img src="../../static/icons/type_icon/txt.png" alt="">
                                </div>
                                <div class="generate_log_pack_right">
                                    <p>{{name}}</p>
                                    <p>{{size}}<a href="{{url}}" download="{{url}}" class="download_fujian">下载</a></p>
                                </div>
                                {{else}}
                            {{/compare}}
                            {{#compare type '==' 'zip'}}
                                <div class="generate_log_pack_left">
                                    <img src="../../static/icons/type_icon/zip.png" alt="">
                                </div>
                                <div class="generate_log_pack_right">
                                    <p>{{name}}</p>
                                    <p>{{size}}<a href="{{url}}" download="{{url}}" class="download_fujian">下载</a></p>
                                </div>
                                {{else}}
                            {{/compare}}
                            {{#compare type '==' 'rar'}}
                                <div class="generate_log_pack_left">
                                    <img src="../../static/icons/type_icon/rar.png" alt="">
                                </div>
                                <div class="generate_log_pack_right">
                                    <p>{{name}}</p>
                                    <p>{{size}}<a href="{{url}}" download="{{url}}" class="download_fujian">下载</a></p>
                                </div>
                                {{else}}
                            {{/compare}}
                            {{#compare type '==' 'ppt'}}
                                <div class="generate_log_pack_left">
                                    <img src="../../static/icons/type_icon/ppt.png" alt="">
                                </div>
                                <div class="generate_log_pack_right">
                                    <p>{{name}}</p>
                                    <p>{{size}}<a href="{{url}}" download="{{url}}" class="download_fujian">下载</a></p>
                                </div>
                                {{else}}
                            {{/compare}}
                            {{#compare type '==' 'doc'}}
                                <div class="generate_log_pack_left">
                                    <img src="../../static/icons/type_icon/moren.png" alt="">
                                </div>
                                <div class="generate_log_pack_right">
                                    <p>{{name}}</p>
                                    <p>{{size}}<a href="{{url}}" download="{{url}}" class="download_fujian">下载</a></p>
                                </div>
                                {{else}}
                            {{/compare}}
                            {{#compare type '==' 'xls'}}
                                <div class="generate_log_pack_left">
                                    <img src="../../static/icons/type_icon/xls.png" alt="">
                                </div>
                                <div class="generate_log_pack_right">
                                    <p>{{name}}</p>
                                    <p>{{size}}<a href="{{url}}" download="{{url}}" class="download_fujian">下载</a></p>
                                </div>
                                {{else}}
                            {{/compare}}
                            {{#compare type '==' 'xlsx'}}
                                <div class="generate_log_pack_left">
                                    <img src="../../static/icons/type_icon/moren.png" alt="">
                                </div>
                                <div class="generate_log_pack_right">
                                    <p>{{name}}</p>
                                    <p>{{size}}<a href="{{url}}" download="{{url}}" class="download_fujian">下载</a></p>
                                </div>
                                {{else}}
                            {{/compare}}
                        
                        
                        {{/each}}
                </div>
        </div>

        <div class="log_assistant_unread">
            <div class="log_assistant_readperson">
                已读{{already_count}}人
            </div>
            <div class="log_assistant_unreadperson">
                未读{{unread_count}}人
            </div>
            <ul class="log_assistant_user_list">
                {{#each already_list}}
                <li class="already_read">
                    <div class="log_assistant_user_touxiang_box">
                        <img src="{{avatar}}" alt="" class="log_assistant_user_touxiang">
                    </div>
                    <p class="log_assistant_user_xinming">{{user_name}}</p>
                </li>
                {{/each}}
                {{#each unread_list}}
                <li class="unread">
                    <div class="log_assistant_user_touxiang_box">
                        <img src="{{avatar}}" alt="" class="log_assistant_user_touxiang">
                    </div>
                    <p class="log_assistant_user_xinming">{{user_name}}</p>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
    {{/each}}


           