{{#if arr}}
    {{#each arr}}
    <a href="{{_href}}">
        <li class="notice_ctn only_tip" {{#unless stream}}send_id="{{send_id}}"{{else}}stream_id="{{stream_id}}"{{/unless}} short_name="{{short_name}}" time_stamp="{{time_stamp}}">
            <div class="notice_left fix">
                    {{#unless stream}}
                        <img src="{{avatar}}" alt="" class="notice_img">
                       {{else}}
                       <span class='color-setting avatar_setting' style="background-color:{{avatar}}">{{nfirst name}}</span>
                    {{/unless}}
            </div>
            <div class="notice_right fix">
                <div class="notice_top fix">
                    <p class="notice_top_name">{{name}}</p>
                    {{#unless stream}}
                    <p class="notice_top_time" name="{{send_id}}">{{tf time}}</p>
                        {{else}}
                        <p class="notice_top_time" name="{{stream_id}}">{{tf time}}</p>
                    {{/unless}}
                </div>
                 {{#unless stream}}
                <div class="notice_bottom" name="{{send_id}}">
                    {{content}}
                </div>
                {{else}}
                  <div class="notice_bottom" name="{{stream_id}}">
                    {{content}}
                </div>
                {{/unless}}
                {{!-- <div class="notice_box_del">
                    删除
                </div> --}} 
                <i class="iconfont icon-guanbiUI notice_box_del"></i>
            </div>
        </li>
    </a>
    {{/each}}
    {{else}}
        {{#if _href}}
        <a href="{{_href}}">
            <li class="notice_ctn only_tip" {{#unless stream}}send_id="{{send_id}}"{{else}}stream_id="{{stream_id}}"{{/unless}} short_name="{{short_name}}" time_stamp="{{time_stamp}}">
                <div class="notice_left fix">
                    {{#unless stream}}
                        <img src="{{avatar}}" alt="" class="notice_img">
                       {{else}}
                       <span class='color-setting avatar_setting' style="background-color:{{avatar}}">{{nfirst name}}</span>
                    {{/unless}}
                </div>
                <div class="notice_right fix">
                    <div class="notice_top fix">
                        <p class="notice_top_name">{{name}}</p>
                         {{#unless stream}}
                        <p class="notice_top_time" name="{{send_id}}">{{tf time}}</p>
                         {{else}}
                          <p class="notice_top_time" name="{{stream_id}}">{{tf time}}</p>
                        {{/unless}}
                    </div>
                       {{#unless stream}}
                        <div class="notice_bottom" name="{{send_id}}">
                            {{mes}}
                        </div>
                        {{else}}
                        <div class="notice_bottom" name="{{stream_id}}">
                            {{mes}}
                        </div>
                      {{/unless}}
                    {{!-- <div class="notice_box_del">
                        删除
                    </div> --}}
                    <i class="iconfont icon-guanbiUI notice_box_del"></i>
                </div>
            </li>
        </a>
    {{/if}}
{{/if}}
