<div class="organization_chart_group_list_box">
    <div class="organization_chart_group_add">
        新增部门
    </div>
    <ul class="organization_chart_group_list">
        {{#each department_lists}}
        {{#compare @index '==' 0}}
        <li class="color_li" department_id="{{id}}">
            <span>{{name}}</span>
            <span>({{num}}人)</span>
        </li>
        {{else}}
        <li department_id="{{id}}">
            <span>{{name}}</span>
            <span>({{num}}人)</span>
        </li>
        {{/compare}}
        {{/each}}
        <li>
            <span>
                未分配
            </span>
            <span>
                (80人)
            </span>
        </li>
    </ul>
</div>