<div zid="{{msg/id}}" id="{{table_name}}{{msg/id}}"
  class="message_row{{^msg/is_stream}} private-message{{/msg/is_stream}}{{#include_sender}} include-sender{{/include_sender}}{{#contains_mention}} mention{{/contains_mention}}{{#include_footer}} last_message{{/include_footer}}{{#msg.unread}} unread{{/msg.unread}} {{#if msg.locally_echoed}}local{{/if}} selectable_row">
    <div class="unread_marker"><div class="unread-marker-fill"></div></div>
    <div class="messagebox{{^include_sender}} prev_is_same_sender{{/include_sender}}{{^msg/is_stream}} private-message{{/msg/is_stream}} {{#if next_is_same_sender}}next_is_same_sender{{/if}}"
      style="">
      {{!-- 去除阴影样式box-shadow: inset 2px 0px 0px 0px {{#if msg/is_stream}}{{background_color}}{{else}}#444444{{/if}}, -1px 0px 0px 0px {{#if msg/is_stream}}{{background_color}}{{else}}#444444{{/if}}; --}}
        <div class="messagebox-border">
            <div class="messagebox-content my_content">
                <div class="message_top_line">
                    <span class="message_sender{{^status_message}} sender_info_hover{{/status_message}} no-select">
                        {{#include_sender}}
                            {{! See ../js/notifications.js for another user of avatar_url. }}
                            <div class="u-{{msg/sender_id}} {{#if compare}}inline-right{{/if}} inline_profile_picture{{#status_message}} sender_info_hover{{/status_message}}">
                                <img src="{{small_avatar_url}}" alt="" class="no-drag"/>
                            </div>
                            {{#if status_message}}
                                <span class="sender-status">
                                    <span class="sender_name-in-status auto-select sender_info_hover user_me" user_name="{{msg/sender_full_name}}">{{msg/sender_full_name}}</span>
                                    {{#if sender_is_bot}}
                                    <i class="zulip-icon bot" aria-hidden="true"></i>
                                    {{/if}}
                                    <span class="status-message">
                                        {{{ status_message }}}
                                    </span>
                                    {{#if_and last_edit_timestr include_sender}}
                                    <div class="message_edit_notice" title="{{#tr this}}Edited (__last_edit_timestr__){{/tr}}">{{t "EDITED" }}</div>
                                    {{/if_and}}
                                </span>
                            {{else}}
                                <span class="sender_name auto-select {{#if compare}}inline-right{{/if}}">{{msg/sender_full_name}}</span>
                                {{#if sender_is_bot}}
                                <i class="zulip-icon bot" aria-hidden="true"></i>
                                {{/if}}
                            {{/if}}
                        {{/include_sender}}
                    </span>
                    <span class="alert-msg pull-right"></span>
                    {{!-- <span class="message_time{{#if msg.locally_echoed}} notvisible{{/if}}{{#if status_message}} status-time{{/if}}">{{timestr}}</span> --}}
                    {{#if_and last_edit_timestr include_sender}}
                        {{#unless status_message}}
                        <div class="message_edit_notice" title="{{#tr this}}Edited (__last_edit_timestr__){{/tr}}">{{t "EDITED" }}</div>
                        {{/unless}}
                    {{/if_and}}
                    {{! 附加功能}}
                    {{!-- <div class="message_controls{{#status_message}} sender-status-controls{{/status_message}} no-select">
                        {{#if msg/sent_by_me}}
                        <div class="edit_content"></div>
                        {{else}}
                        <div class="reaction_button">
                            <i class="icon-vector-smile" title="{{#tr this}}Add emoji reaction{{/tr}} (:)"></i>
                        </div>
                        {{/if}}

                        {{#unless msg/locally_echoed}}
                        <div class="info actions_hover">
                            <i class="icon-vector-chevron-down" title="{{#tr this}}Message actions{{/tr}} (i)"></i>
                        </div>
                        {{/unless}}

                        <div class="message_failed {{#unless msg.failed_request}}notvisible{{/unless}}">
                            <i class="icon-vector-refresh refresh-failed-message" data-toggle="tooltip" title="{{t 'Retry' }}"></i>
                            <i class="icon-vector-remove-sign remove-failed-message" data-toggle="tooltip" title="{{t 'Cancel' }}"></i>
                        </div>

                        {{#unless msg/locally_echoed}}
                        <div class="star {{#if msg/starred}}icon-vector-star{{else}}icon-vector-star-empty{{/if}} {{#if msg/starred}}{{else}}empty-star{{/if}}" title="{{#tr this.msg}}__starred_status__ this message{{/tr}} (*)">
                        </div>
                        {{/unless}}
                    </div> --}}
                    {{! 附加功能}}
                </div>
                {{#if compare}}
                <div>
                    <div style="float:right;margin-right:46px;" class="my_bubble public_method">
                        {{#unless status_message}}
                        <div class="our_news_box my_news_box" star="{{msg.starred}}">
                            <i class="iconfont icon-shoucang-xuanzhong our_news_box_star my_news_box_star {{#if msg.starred}}show{{/if}}"></i>
                            {{!-- {{#if msg.starred}}<i class="iconfont icon-shoucang-xuanzhong our_news_box_star my_news_box_star"></i>{{/if}} --}}
                            {{#if use_match_properties}}{{{msg/match_content}}}
                            {{else}}{{{msg/content}}}
                            {{/if}}
                        </div>
                        {{/unless}}
                        <ul class="additional_box fix my_additional">
                            <li class="additional_more_box">
                                <i class="iconfont icon-gengduocaozuo"></i>
                                <ul class="additional_more additional_more_my">
                                    <li class="additional_reply"><i class="iconfont icon-huifu"></i><span>回复</span></li>
                                    <li class="additional_copy" data-clipboard-text="{{#unless status_message}}{{#if use_match_properties}}{{{deleteTag msg/match_content}}}{{else}}{{{deleteTag msg/content}}}{{/if}}{{/unless}}"><i class="iconfont icon-fuzhi"></i><span>复制</span></li>
                                    <li class="additional_todo"><i class="iconfont icon-zhuanweidaiban"></i><span>转为待办</span></li>
                                </ul>
                            </li>
                            <li class="additional_collection"><i class="iconfont icon-shoucang-moren"></i></li> 
                            <li><i class="iconfont icon-biaoqing1 reaction_button"></i></li>
                        </ul>
                    </div>
                </div>
                {{else}}
                <div class="message_content">
                    <div class="other_content public_method">
                            {{#unless status_message}}  
                            <div class="our_news_box other_news_box" data-message-id="{{message.id}}" star="{{msg.starred}}">
                                <i class="iconfont icon-shoucang-xuanzhong our_news_box_star other_news_box_star {{#if msg.starred}}show{{/if}}"></i>
                                {{!-- {{#if msg.starred}}<i class="iconfont icon-shoucang-xuanzhong our_news_box_star other_news_box_star"></i>{{/if}} --}}
                                {{#if use_match_properties}}{{{msg/match_content}}}
                                {{else}}{{{msg/content}}}
                                {{/if}}
                            </div>
                            {{/unless}}
                            <ul class="additional_box fix other_additional" style="float:right;margin-left:2px;">
                                <li><i class="iconfont icon-biaoqing1 reaction_button"></i></li>
                                <li class="additional_collection"><i class="iconfont icon-shoucang-moren"></i></li> 
                                <li class="additional_more_box">
                                    <i class="iconfont icon-gengduocaozuo"></i>
                                    <ul class="additional_more additional_more_other">
                                        <li class="additional_reply" data-message-id="{{message.id}}"><i class="iconfont icon-huifu"></i><span>回复</span></li>
                                        <li class="additional_copy" data-clipboard-text="{{#unless status_message}}{{#if use_match_properties}}{{{deleteTag msg/match_content}}}{{else}}{{{deleteTag msg/content}}}{{/if}}{{/unless}}"><i class="iconfont icon-fuzhi"></i><span>复制</span></li>
                                        <li class="additional_todo"><i class="iconfont icon-zhuanweidaiban"></i><span>转为待办</span></li>
                                    </ul>
                                </li>
                            </ul>
                    </div>
                </div>
                {{/if}}
                {{#if last_edit_timestr}}
                    {{#unless include_sender}}
                    <div class="message_edit_notice" title="{{#tr this}}Edited (__last_edit_timestr__){{/tr}}">{{t "EDITED" }}</div>
                    {{/unless}}
                {{/if}}
                <div class="message_edit">
                    <div class="message_edit_form"></div>
                </div>
                <div class="message_expander message_length_controller" title="{{t 'See the rest of this message' }}">{{t "[More...]" }}</div>
                <div class="message_condenser message_length_controller" title="{{t 'Make this message take up less space on the screen' }}">{{t "[Condense this message]" }}</div>
                {{#if compare}}
                <div class="message_reactions message_reactions_my">{{ partial "message_reactions" }}</div>
                {{else}}
                <div class="message_reactions message_reactions_other">{{ partial "message_reactions" }}</div>
                {{/if}}
            </div>
        </div>
    </div>
</div>
