
       <div class="taskdetail_md">
            <div class="taskdetail_box">    
                <div class="taskdetail_head">
                    <p class="taskdetail_title">任务详情</p>
                    <p class="taskdetail_deleteone">删除</p>
                    <i class="iconfont icon-guanbiUI taskdetail_close"></i>
                </div>  
                <div class="taskdetail_ctn">
                    {{#if state}}
                    <input type="checkbox" class="taskdetail_state" id="taskdetail_check"  name="{{id}}" value="{{state}}">
                    {{else}}
                     <input type="checkbox" class="taskdetail_state" id="taskdetail_check"  name="{{id}}" value="{{state}}" checked="checked">
                   {{/if}}
                    {{!-- <p class="taskdetail_list">{{taskdetail_list}}</p> --}}
                    <input type="text" class="taskdetail_list" value="{{taskdetail_list}}">
                </div>
                <textarea name="{{id}}" id="taskdetail_addnote" cols="30" rows="10" placeholder="添加备注...（最多只能输入200字哦）" maxlength="200">{{taskdetail_addnote}}</textarea>
                <i class="taskdetail_lineA"></i>
                <div class="taskdetail_date_box">
                    <i class="iconfont icon-riqi set_date_icon"></i>
                    <p class="taskdetail_set">设定日期</p>
                </div>
                <div class="taskdetail_selection">
                    <div class="taskdetail_selection_left">
                        <p class="taskdetail_startdate">任务开始时间</p>
                        <div class="input-append date" id="taskstart_datetimepicker" data-date="" data-date-format="yyyy-mm-dd">  
                                <input title="{{id}}" class="new_task_date" size="16" type="text" value="{{create_time}}" readonly placeholder="请选择日期...">  
                                <span class="add-on select_date_icon">
                                    <i data-date-icon="icon-calendar" class="icon-calendar iconfont icon-riqi"></i>
                                </span>  
                        </div>
                    </div>
                    <div class="taskdetail_selection_right">
                        <p>任务截止时间</p>
                        <div class="input-append date" id="taskstop_datetimepicker" data-date="" data-date-format="yyyy-mm-dd">  
                                <input name="{{id}}" class="new_task_date" size="16" type="text" value="{{over_time}}" readonly placeholder="请选择日期...">  
                                <span class="add-on select_date_icon">
                                    <i data-date-icon="icon-calendar" class="icon-calendar iconfont icon-riqi"></i>
                                </span> 
                        </div>
                    </div>
                </div>
                <i class="taskdetail_lineA"></i>
                <div class="taskdetail_upfile_box">
                    <i class="iconfont icon-fujian1 upfile_icon"></i>
                    {{!-- <p class="taskdetail_addattachment">添加附件</p> --}}
                    <p class="taskdetail_addattachment taskdetail_upfile" id="file_choose"> 
                        <input type="file" id="file_inputs" class="test-image-file"/>
                        <a id="attach_file">上传文件</a>
                        <span class="taskdetail_numberT">最多只能上传3个附件哦</span>
                    </p>
                </div>
                <ul class="taskdetail_attachment_box" length="{{accessory_length}}">
                    {{#each accessory_dict}}
                    <li class="taskdetail_attachment" value="{{id}}">
                            <div class="taskdetail_attachment_left" value="{{url}}">
                                {{#compare type '==' 'png'}}
                                    <img src="../../static/icons/type_icon/png.png" alt="" class="thumbnail_b">
                                    {{else}}
                                        {{#compare type '==' 'jpg'}}
                                            <img src="../../static/icons/type_icon/jpg.png" alt="" class="thumbnail_b">
                                        {{else}}
                                            {{#compare type '==' 'jpeg'}}
                                                <img src="../../static/icons/type_icon/moren.png" alt="" class="thumbnail_b">
                                            {{else}}
                                                {{#compare type '==' 'gif'}}
                                                    <img src="../../static/icons/type_icon/gif.png" alt="" class="thumbnail_b">
                                                {{else}}
                                                    {{#compare type '==' 'bmp'}}
                                                        <img src="../../static/icons/type_icon/moren.png" alt="" class="thumbnail_b">
                                                    {{else}}
                                                        {{#compare type '==' 'txt'}}
                                                            <img src="../../static/icons/type_icon/txt.png" alt="" class="thumbnail_b">
                                                        {{else}}
                                                            {{#compare type '==' 'xls'}}
                                                                <img src="../../static/icons/type_icon/xls.png" alt="" class="thumbnail_b">
                                                            {{else}}
                                                                {{#compare type '==' 'pdf'}}
                                                                    <img src="../../static/icons/type_icon/pdf.png" alt="" class="thumbnail_b">
                                                                {{else}}
                                                                    {{#compare type '==' 'rar'}}
                                                                        <img src="../../static/icons/type_icon/rar.png" alt="" class="thumbnail_b">
                                                                    {{else}}
                                                                        {{#compare type '==' 'zip'}}
                                                                            <img src="../../static/icons/type_icon/zip.png" alt="" class="thumbnail_b">
                                                                        {{else}}
                                                                            {{#compare type '==' 'word'}}
                                                                                <img src="../../static/icons/type_icon/word.png" alt="" class="thumbnail_b">
                                                                            {{else}}
                                                                                <img src="../../static/icons/type_icon/moren.png" alt="" class="thumbnail_b">
                                                                        {{/compare}}
                                                                    {{/compare}}
                                                                {{/compare}}
                                                            {{/compare}}
                                                        {{/compare}}
                                                    {{/compare}}
                                                {{/compare}}
                                            {{/compare}}
                                        {{/compare}}
                                    {{/compare}}
                                {{/compare}}
                                <p>{{name}}</p>
                                <p>
                                    <span>{{size}}MB</span>
                                </p>
                            </div>
                            <div class="taskdetail_attachment_right">
                                {{!-- <input type="hidden" value="{{url}}"> --}}
                                {{!-- <span class="taskdetail_download">下载</span> --}}
                                <a href="{{url}}" download="{{url}}" class="taskdetail_download">下载</a>
                                <span class="taskdetail_delete">删除</span>
                            </div>
                    </li>
                    {{/each}}
                </ul>
                <div class="taskdetail_records_box">
                    <div>
                        操作记录
                    </div>
                    <ul class="taskdetail_records">
                        {{#each update_backlog_list}}
                        <li>
                            <i></i>
                            {{!-- <p class="taskdetail_text">
                                <span>创建了任务</span>
                                <span>5月11日</span>
                            </p> --}}
                            <p class="taskdetail_text">{{@key}}:{{this}}</p>
                        </li>
                        {{/each}}
                    </ul>
                </div>
                <div class="taskdetail_tips_box">
                        <div class="taskdetail_tips_title">
                            <p>操作提示</p>
                            <i class="iconfont icon-guanbiUI taskdetail_tips_close"></i>
                        </div>
                        <div class="taskdetail_tips_ctn">
                            该任务将永久删除
                        </div>
                        <div class="taskdetail_tips_btn">
                            <div class="taskdetail_tips_cancel">
                                取消
                            </div>
                            <div class="taskdetail_tips_confirm">
                                确认
                            </div>
                        </div>
                    </div>
            </div>
            
       </div>
