{{#each backlog_list}}
<li class='todo'>
    <div class='todo_left'>
        <input type='checkbox' class='add_checkbox' inputid = "{{backlog_id}}" state = "{{state}}">
            <p class='add_ctn' over_time="{{over_time}}" task="{{task}}" taskid="{{backlog_id}}" taskdetails="{{task_details}}">{{task}}</p>
        </div>
        <div class='todo_right'>
            {{#if task_details}}
            <i class='iconfont icon-beizhu note_icon'></i>
            {{/if}}
                {{#if accessory_list}}
                <i class='iconfont icon-fujian1 attachment_icon'></i>
                {{/if}}
                {{!-- <p class='add_datatime'>{{substr over_time}}</p>
                <p class="add_datatime">{{substr create_time}}</p> --}}
                {{#compareDate over_time '==' create_time}}
                    <p class='add_datatime'>{{substrMonth over_time}}</p>
                    <p class="add_datatime">{{substrMonth create_time}}</p>
                    {{else}}
                    <p class='add_datatime'>{{substrYear over_time}}</p>
                    <p class="add_datatime">{{substrYear create_time}}</p>
                {{/compareDate}}
        </div>
</li>
{{/each}}
{{#each past_due_list}}
<li class='todo'>
    <div class='todo_left'>
        <input type='checkbox' class='add_checkbox' inputid = "{{backlog_id}}" state = "{{state}}">
            <p class='add_ctn' over_time="{{over_time}}" task="{{task}}" taskid="{{backlog_id}}" taskdetails="{{task_details}}">{{task}}</p>
        </div>
        <div class='todo_right'>
            {{#if task_details}}
            <i class='iconfont icon-beizhu note_icon'></i>
            {{/if}}
                {{#if accessory_list}}
                <i class='iconfont icon-fujian1 attachment_icon'></i>
                {{/if}}
                {{!-- <p class='add_datatime overdue'>{{substr over_time}}</p>
                <p class='add_datatime overdue'>{{substr create_time}}</p> --}}
                {{#compareDate over_time '==' create_time}}
                    <p class='add_datatime overdue'>{{substrMonth over_time}}</p>
                    <p class="add_datatime overdue">{{substrMonth create_time}}</p>
                    {{else}}
                    <p class='add_datatime overdue'>{{substrYear over_time}}</p>
                    <p class="add_datatime overdue">{{substrYear create_time}}</p>
                {{/compareDate}}
        </div>
</li>
{{/each}}