<ul class="work_order_ctn_box fix">
    {{#each newData}}
    <li class="work_order_ctn" data_id={{table_id}} data_type={{table_type}}>
        <p class="work_order_state">[{{notice_type}}]</p>
        <p class="work_order_title">{{stair}}</p>
        <p class="work_order_reason">
            <span>请假原因:</span>
            <span>{{second}}</span>
        </p>
        <p class="work_order_time">
            <span>
                请假日期:
            </span>
            <span>
                {{third}}
            </span>
        </p>
    </li>
    {{/each}}
</ul>