<div id="filter-settings" class="settings-section" data-name="filter-settings">
    <div class="admin-table-wrapper">

        <p>
            {{#tr this}}
            配置正则表达式模式，当在e建联消息体或主题中使用时，将自动链接。例如，可以在GitHub项目中自动地将提交id和序列号(例如#123)发送给相应的项目，您可以使用以下命令：
            {{/tr}}
        </p>
        <ul>
            <li>
                <code>#(?P&lt;id&gt;[0-9]+)</code>
                {{t "and" }}
                <code>https://github.com/zulip/zulip/issues/%(id)s</code>
            </li>
            <li>
                <code>(?P&lt;id&gt;[0-9a-f]{40})</code>
                {{t "and" }}
                <code>https://github.com/zulip/zulip/commit/%(id)s</code>
            </li>
        </ul>

        <table class="table table-condensed table-striped admin_filters_table">
            <tbody id="admin_filters_table">
                <th>{{t "Pattern" }}</th>
                <th>{{t "URL format string" }}</th>
                {{#if is_admin}}
                <th class="actions">{{t "Actions" }}</th>
                {{/if}}
            </tbody>
        </table>
    </div>
    {{#if is_admin}}
    <form class="form-horizontal admin-filter-form">
        <div class="add-new-filter-box grey-box">
            <div class="new-filter-form wrapper">
                <div class="settings-section-title new-filter-section-title">{{t "Add a new filter" }}</div>
                <div class="alert" id="admin-filter-status"></div>
                <div class="control-group">
                    <label for="filter_pattern" class="control-label">{{t "Regular expression" }}</label>
                    <input type="text" id="filter_pattern" name="pattern" placeholder="#(?P<id>[0-9]+)" />
                    <div class="alert" id="admin-filter-pattern-status"></div>
                </div>
                <div class="control-group">
                    <label for="filter_format_string" class="control-label">{{t "URL format string" }}</label>
                    <input type="text" id="filter_format_string" name="url_format_string" placeholder="https://github.com/zulip/zulip/issues/%(id)s" />
                    <div class="alert" id="admin-filter-format-status"></div>
                </div>
                <button type="submit" class="button rounded sea-green">
                    {{t 'Add filter' }}
                </button>
            </div>
        </div>
    </form>
    {{/if}}
</div>
